*{
    padding: 0;
    margin: 0;
}

.image{
    width: 250px;
    border-radius: 200px;
   
}
.container{
    width: 400px;
    background: linear-gradient(to left bottom,#21ad86,#0f7bd3);
    padding:30px ;
    border-radius: 5px;
    margin: 20px;
}
.container h2{

    color: rgb(15, 17, 19);
    margin: 5px 0px;
}
.container h3{
    color: rgb(29, 23, 23);
    margin: 5px 0px
}
.SocialMediaIcon{

    color: #4b5351;
    margin: 5px 0px;
}
.icon{
    margin: 0px 5px;
}